<%- include('partials/header') %>
<h1>Campground's page</h1>
<a href="/campgrounds/new">add new campground</a>
<ul>
  <% campgrounds.forEach(campground => { %>
  <div>
    <h4><%= campground.name %></h4>
    <img src="<%= campground.img %>" />
  </div>
  <% }) %>
</ul>
<%- include('partials/footer') %>
